/* stylesheet for format the print of the webpage */
@media print {
  html{
  margin: 1cm;
	}
  
  nav {
    display: none;
  }

  img {
    height: 200px;
    width: 140px;
  }

  tr {
	  page-break-inside: avoid;
  }
  td {
	  column-width: 150px;
	  column-height: 210px;
	  font-size: 20px;
  }
  form {
	  display: none;
  }
  h1 {
	  font-size: 40px;
	  font-weight: bold;
	  font-family: monospace;
  }
  h2 {
	  font-size: 30px;
	  font-weight: normal;
	  font-family: serif;
  }
}