/* stylesheet for styling the web page and different screensizes for index.html */
/* styling the main page */
body {
  font-family: 'Lato', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  text-align: center;
  height: auto;
  padding: 5px 0px;
  background-color: #dddddd;
  font-size: 16px;
}

#navlink {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  margin: 0 15px 0 15px;
}

#navlink:hover {
  font-size: 20px;
}

.tableInStock{
  border-color: black;
  border-style: solid;
  border-spacing: 2px;
  border-width: 1px;
}

table {
  width: 50%;
  margin: 0 25%;
}

td, th {
  border: 1px solid black;
  text-align: center;
  width: 20%;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.tableInStock img, .tableOutOfStock img {
  height: 200px;
  width: 140px;
}

.textIndent {
  text-indent: 2%;
}

.formRowInTable td {
  border-style: none;
}

.formRowInTable input {
  width: 100%;
}

.newElement input {
  width: 96%;
  margin: 0 2%;
  text-align: center;
  border-style: none;
}


/* media queries */
/*mobile*/
/*desktop*/
