/* stylesheet for styling the web page and different screensizes for index.html */
/* styling the main page */

/*TODO:
   - background attributes and elements
   - foreground color
   - lists
   - properties for paged media
   - other
   - media queries
   - css checker
*/

body {
  font-family: 'Lato', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  text-align: center;
  height: auto;
  padding: 5px 0px;
  background-color: #dddddd;
  font-size: 16px;
  width: 100%;
}

footer {
  background-color: #dddddd;
  margin: 1% 0 0 0;
  width: 100%;
  height: auto;
  padding: 5px 5px;
  background-color: #dddddd;
  font-size: 16px;
}

h1 {
  font-size: 22px;
  border-bottom: solid 1px black;
}

h2 {
  font-variant: small-caps;
  font-size: 18px;
}

footer p {
  margin: 0 !important;
}

.footerLeft{
  text-align: left;
  margin-left: 0;
  float: left;
}

.footerRight {
  text-align: right;
  float: none;
}

#navlink:link {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  /*margin: 0 9% 0 9%; -> short notation: */
  margin-top: 0%;
  margin-right: 9%;
  margin-bottom: 0%;
  margin-left: 9%;
}

#navlink:hover {
  font-weight: bold;
}

#navlink:visited {
  color: blue;
}

#navlink:active {
  color: red;
}

#navlink:focus {
  text-decoration: none;
}

.tableInStock{
  border-color: black;
  border-style: solid;
  border-spacing: 2px;
  border-width: 1px;
}

table {
  width: 50%;
  margin: 0 25%;
}

td, th {
  border: 1px solid black;
  text-align: center;
  width: 20%;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.tableInStock img, .tableOutOfStock img {
  height: 200px;
  width: 140px;
}

.cite {
  text-indent: 2%;
  font-size: 80%;
  font-style: italic;
}

.formRowInTable td {
  border-style: none;
}

.formRowInTable input {
  width: 100%;
}

.newElement input {
  width: 96%;
  margin: 0 2%;
  text-align: center;
  border-style: none;
}


/* media queries */
/*mobile*/
/*desktop*/
