/* stylesheet for styling the web page and different screensizes for index.html */
/* styling the main page */
body {
 /*define different font attributes here*/
 font-family: 'Lato', sans-serif;
}

td, th {
  border: 1px solid black;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

/* media queries */
/*mobile*/
/*desktop*/
